.filter-options {
  display: grid;
  justify-items: flex-start;
  margin: 20px 0;
  
  * { font-size: 18px; }
  
  button {
    color: white;
    background: #714a84;
    border: none;
    padding: 10px 20px;
  }

  .filter-contents {
    background: #00000026;
    padding: 20px;
  }
  label {
    font-size: 1.1em;
  }
  input[type=text] {
    padding: 5px 15px;
    border: none;
  }

  .text-filter-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px;
  }

  .checkbox-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
}