.steam-profile {
  background: rgba(0, 0, 0, .4);
  color: #B943FF;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  padding: 5px;
  max-width: 400px;
  border-radius: 8px;

  border: 1px solid #B943FF00;
  transition: .15s;
  &:hover {
    border: 1px solid #B943FF;
    cursor: pointer;
  }

  .text {
    display: grid;
    grid-template-rows: auto 1fr;
    font-size: 18px;
    
    h2 {
      font-size: 1em;
      line-height: 18px;
      color: #dda4ff;
    }
    .roles {
      font-size: 12px;
      line-height: 12px;
      display: flex;
      align-items: center;
    }
  }

  .description {
    font-size: .8em;
    line-height: 1.2em;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;

    h2 {
      font-size: 1em;
    }
    p {
      font-size: .8em;
      margin: 0;
      overflow-y: scroll;
      max-height: 50px;
    }
  }
}