.post-preview {
  background: linear-gradient(to right, #000000ca, #00000073);
  display: grid;
  grid-template-columns: 2fr 3fr;

  position: relative;

  .meta {
    padding: 40px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-content: space-between;

    .text {
      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-gap: 10px;
      font-size: 0.8em;

      .date {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 10px;

        img {
          height: 15px;
        }
      }
      h1 {
        margin-top: 20px;
      }
      h4 {
        margin-top: 5px;
        margin-left: 10px;
        font-weight: 100;
      }
    }

    .btn-container {
      display: flex;
      align-items: flex-end;
      .read-more {
        display: inline-block;
        color: white;
        background: purple;
        padding: 10px 20px;
        font-size: 1.2em;
      }
    }
  }

  .banner {
    opacity: 0.8;
  }

  &.compressed {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    .meta {

      display: flex;
      align-items: stretch;

      h1 {
        margin: 0;
      }

      .text {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-gap: 20px;
      }
    }
  }
}
