.server-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: linear-gradient(to right, #111, #111a);
  padding: 30px 60px;
  margin: 20px 0;

  position: relative;
  overflow: hidden;
  line-height: 2em;

  .meta {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 1.5em;
  }

  a {
    background: #3d224a;
    padding: 10px 40px;
    font-size: 1.25em;
    color: white;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
}