header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  nav {
    display: flex;
    a {
      font-size: 1.25em;
      font-weight: 100;
      padding: 15px;
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      &:before, &:after {
        content: "";
        background: white;
        position: absolute;
        height: 1px;
        width: 0;
        opacity: .3;
        transition: .15s;
      }
      &:before {
        top: 20%;
        left: 0;
      }
      &:after {
        bottom: 20%;
        right: 0;
        left: auto;
        margin: 0;
      }

      &:hover {
        &:before, &:after {
          width: 100%;
        }
      }
    }
  }
}