* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#371F45, rgb(120, 73, 126));
  color: white;
  min-height: 100vh;
  font-size: 21px;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  
  main {
    width: 100%;
    max-width: 1000px;
    margin: 70px auto;
  }
}

a {
  color: rgb(210, 30, 255);
  text-decoration: none;
}