.about {
  line-height: 1.7em;
  display: grid;
  justify-items: center;
  margin: 20px 0;
  margin-bottom: 100px;

  h1 {
    margin-bottom: 20px;
    display: inline-block;
  }

  p {
    max-width: 900px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .about-btn {
      background: #592ab3;
      color: white;
  
      padding: 10px 20px;
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-gap: 10px;
      align-items: center;
  
      img {
        width: 100%;
        max-height: 30px;
      }

      transition: .15s;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}